@font-face {
  font-family: Work;
  src: url(../WorkSans.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

html {
  font-size: 16px;
  font-family: 'Work';
  min-height: 100%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

header nav {
  height: 72px;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 999;
}

header nav .nav__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav__btn {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  display: none;
}

header nav .nav__btn div {
  margin-bottom: 5px;
}

header nav .nav__btn div:nth-child(1) {
  width: 36px;
  height: 3px;
  background-color: black;
}

header nav .nav__btn div:nth-child(2) {
  width: 36px;
  height: 3px;
  background-color: black;
}

header nav .nav__btn div:nth-child(3) {
  width: 24px;
  height: 3px;
  background-color: black;
}

header nav .nav__logo {
  width: 70px;
}

header nav .nav__item {
  padding: 1rem;
}

header nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .nav__link {
  font-size: 1.2rem;
}

header nav .nav__link:hover {
  color: #FF8F26;
}

header nav .nav__link.active {
  color: #FF8F26;
}

.text--orange {
  color: #FF8F26;
}

.text--primary {
  color: #AA67CF;
}

.text--bold {
  font-weight: bold;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
}

.section__title .line {
  width: 50px;
  height: 5px;
  border: 5px solid #FF8F26;
  margin-bottom: 2rem;
}

.icon {
  display: inherit;
}

.break {
  height: 80px;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

main .landing {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

main .landing__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .landing__wrapper--text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .landing__wrapper--text h2 {
  font-size: 3.6rem;
}

main .landing__wrapper--text h2 img {
  width: 24px;
}

main .landing__wrapper--img {
  min-height: calc(100vh - 72px);
  display: -ms-grid;
  display: grid;
  background-color: grey;
      grid-template-areas: 'img1 img1'  'img2 img3';
}

main .landing__wrapper--img div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .landing__wrapper--img img {
  width: 100%;
}

main .landing__wrapper--img div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img1;
  background-image: url("../assets/artimg-1.png");
}

main .landing__wrapper--img div:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img2;
  background-image: url("../assets/artimg-2.png");
}

main .landing__wrapper--img div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img3;
  background-image: url("../assets/artimg-3.png");
}

main .about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .about__card {
  margin-bottom: 2rem;
}

main .about__card-item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'img text';
  grid-gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about__card--img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

main .about__card--img img {
  display: inherit;
  max-width: none;
}

main .about__card--text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
}

main .about__card--text p {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

main .about__card:last-child {
  margin-bottom: 0;
}

main .tournament__wrappper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .tournament__wrappper h4 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

main .tournament__wrappper h4 img {
  width: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1px;
}

main .tournament__wrappper p {
  font-size: 1.2rem;
}

main .team__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem 2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main .team__wrapper div {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

main .team__wrapper div img {
  display: inherit;
  max-width: none;
}

main .faq__wrapper h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

main .faq__wrapper p {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 1.75rem;
}

main .faq__question {
  margin-bottom: 2rem;
}

main .faq__question:last-child {
  margin-bottom: 0;
}

main .contact__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main .contact__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contact__card h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

main .contact__card p {
  font-size: 1.4rem;
  line-height: 1.75rem;
}

main .contact .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contact .social-icons img {
  width: 36px;
  margin-right: 1rem;
}

main .contact .video__wrapper h4 {
  margin: 2rem 0;
  font-size: 1.4rem;
}

main .contact .video__wrapper iframe {
  width: 100%;
  height: 500px;
}

footer {
  margin-top: 2rem;
  background-color: #FF8F26;
  padding: 1rem 0;
}

footer p {
  font-weight: bold;
  letter-spacing: 1px;
}

.carousel {
  width: 90%;
  margin: 0px auto;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}

@media screen and (max-width: 998px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  header nav {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 999;
    left: 0;
  }
  header nav .nav__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav__logo {
    width: 64px;
  }
  header nav .nav__item {
    display: block;
    padding: 1rem;
  }
  header nav .nav__links {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 72px;
    left: -200vh;
    width: 100%;
    text-align: center;
  }
  header nav .nav__links.active {
    left: 0;
  }
  header nav .nav__link {
    font-size: 1.2rem;
  }
  header nav .nav__link:hover {
    color: #FF8F26;
  }
  main .landing__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
  }
  main .landing__wrapper--text {
    min-height: calc(50vh - 72px);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .landing__wrapper--text h2 {
    text-align: center;
    font-size: 3.6rem;
  }
  main .landing__wrapper--text h2 img {
    width: 24px;
  }
  main .landing__wrapper--img {
    min-height: 50vh;
    display: -ms-grid;
    display: grid;
    background-color: grey;
        grid-template-areas: 'img1 img2 img3';
  }
  main .contact .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .contact .social-icons img {
    width: 28px;
    margin-right: 1rem;
  }
  main .contact .video__wrapper iframe {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 425px) {
  .section__title .line {
    width: 25px;
    height: 3px;
    border: 3px solid #FF8F26;
  }
  main .landing__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
  }
  main .landing__wrapper--text {
    min-height: calc(50vh - 72px);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .landing__wrapper--text h2 {
    font-size: 3.6rem;
  }
  main .landing__wrapper--text h2 img {
    width: 24px;
  }
  main .landing__wrapper--img {
    min-height: 50vh;
    display: -ms-grid;
    display: grid;
    background-color: grey;
        grid-template-areas: 'img1 img1'  'img2 img3';
  }
  main .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about__card {
    margin-bottom: 4rem;
  }
  main .about__card-item {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'img'  'text';
    grid-gap: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .about__card--img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
    width: 100%;
    height: 250px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .about__card--text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text;
  }
  main .about__card--text p {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
  main .about__card:last-child {
    margin-bottom: 0;
  }
  main .contact__wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem 2rem;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 0.5fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
  }
  main .contact__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .contact__card h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  main .contact__card p {
    font-size: 1.4rem;
  }
  main .contact .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .contact .social-icons img {
    width: 24px;
    margin-right: 1rem;
  }
  main .contact .social-icons .video__wrapper h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  main .contact .social-icons .video__wrapper iframe {
    width: 100%;
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */